version: 2.1
orbs:
  ruby: circleci/ruby@2.0

jobs:
  rubocop:
    parallelism: 1
    docker:
      - image: cimg/ruby:3.1-node
    steps:
      - checkout
      - ruby/install-deps
      - run:
          name: Run Rubocop
          command: bundle exec rubocop
  test:
    parallelism: 1
    docker:
      - image: cimg/ruby:3.1-node
    steps:
      - checkout
      - ruby/install-deps
      - run:
          name: Run tests
          command: bundle exec rspec -fd

workflows:
  version: 2
  tests:
    jobs:
      - rubocop
      - test
